@model IEnumerable<AgletCoreMVC.Models.Staff>

@{
    ViewData["Title"] = "Staff List";
}

    <header class="jumbotron">
        <h2>List of Staff</h2>
    </header>
<p>
    <a class="btn btn-success" asp-action="Create">Create New Staff Member</a>
</p>
<table class="table table-bordered table-hover table-striped">
    <thead>
        <tr class="info">
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobTitle)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Department)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Salary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JobTitle)
                </td>
                <td>
                    <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.StaffID">Edit</a>
                    <a class="btn btn-warning" asp-action="Details" asp-route-id="@item.StaffID">Details</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.StaffID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
