@model IEnumerable<AgletCoreMVC.Models.PaymentCard>

@{
    ViewData["Title"] = "Payment Card List";
}
    <br />
    <header class="jumbotron">
        <h1 class="text-center">
            List of Laces
        </h1>
    </header>

<p class="text-center">
    <a class="btn btn-success" asp-action="Create">Create New Payment Card</a></p>
<table class="table table-bordered table-hover table-striped">
    <thead>
        <tr class="info">
            <th>
                @Html.DisplayNameFor(model => model.CardName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CardNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SecurityCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpiryMonth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpiryYear)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CardName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CardNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SecurityCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExpiryMonth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExpiryYear)
                </td>
                <td>
                    <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.PaymentCardID">Edit</a>
                    <a class="btn btn-warning" asp-action="Details" asp-route-id="@item.PaymentCardID">Details</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.PaymentCardID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
