@model IEnumerable<AgletCoreMVC.Models.Address>

@{
    ViewData["Title"] = "Address List";
}
<!--Hayden-->
<br />
    <header class="jumbotron">
        
        <h1 class="text-center">List of Addresses</h1>

    </header>
    <p class="text-center">
        <a class="btn btn-success" asp-action="Create">Create New Addresses</a>
    </p>
<table class="table table-bordered table-hover table-striped">
    <thead>
        <tr class="info">
            <th>
                @Html.DisplayNameFor(model => model.StreetAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Town)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostCode)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StreetAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Town)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostCode)
            </td>
            <td>
                <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.AddressID">Edit</a>
                <a class="btn btn-warning" asp-action="Details" asp-route-id="@item.AddressID">Details</a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.AddressID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
