@model AgletCoreMVC.Models.Lace

@{
    ViewData["Title"] = "LaceDetails";
}

<!-- Conor -->
<h1 style="text-align:center;">
    @Html.DisplayFor(model => model.Brand)
</h1>

<a asp-action="Laces">Back to Laces</a>

<div class="row" align="center">
    <div class="col-md-4">
        <img style="height: 200px" , width="300" src="~/images/@Model.ImageURL" />
    </div>
    <div class="col-md-4" style="border:dotted">
        <h2>Description:</h2>
        <br />
        <p><b>Colour: </b> @Html.DisplayFor(model => model.Colour)</p>
        <p><b>Brand: </b>@Html.DisplayFor(model => model.Brand)</p>
        <p><b>Print: </b>@Html.DisplayFor(model => model.Print)</p>
        <p><b>Length: </b>@Html.DisplayFor(model => model.Length)</p>
        <p><b>Short Description: </b>@Html.DisplayFor(model => model.Description)</p>
        <br />
        @Html.ActionLink("Buy Now", "Buy", new { id = Model.LaceID })
    </div>
</div>
