@model AgletCoreMVC.Models.Lace

@{
    ViewData["Title"] = "LaceDetails";
}

<h2>LaceDetails</h2>
<!-- Conor -->

<div>
    <h4>Lace</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LaceID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LaceID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Colour)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Colour)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Print)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Print)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Length)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Length)
        </dd>
        <dt>
            @Html.DisplayFor(model => model.ImageURL)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ImageURL)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Buy", "Buy", new { id = Model.LaceID }) |
    <a asp-action="Laces">Back to Laces</a>
</div>
