@model AgletCoreMVC.Models.User

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MicrosoftID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MicrosoftID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsStaff)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsStaff)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsCustomer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsCustomer)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Staff)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Staff.StaffID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.UserID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
