@model IEnumerable<AgletCoreMVC.Models.User>

@{
    ViewData["Title"] = "User List";
}

    <header class="jumbotron">
        <h1 class="text-center">List of Users</h1>
    </header>

<p class="text-center">
    <a class="btn btn-success" asp-action="Create">Create New Users</a>
</p>
<table class="table table-bordered table-hover table-striped">
    <thead>
        <tr class="info">
            <th>
                @Html.DisplayNameFor(model => model.MicrosoftID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsStaff)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsCustomer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Staff)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MicrosoftID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsStaff)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsCustomer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Staff.StaffID)
            </td>
            <td>
                <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.UserID">Edit</a> 
                <a class="btn btn-warning" asp-action="Details" asp-route-id="@item.UserID">Details</a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.UserID">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
