@model IEnumerable<AgletCoreMVC.Models.Contact>

@{
    ViewData["Title"] = "Contact List";
}

<header class="jumbotron">
    <h2>List of Contacts</h2>
</header>

<p>
    <a class="btn btn-success" asp-action="Create">Create New Contact</a>
</p>
<table class="table table-bordered table-hover table-striped">
    <thead>
        <tr class="text-info">
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.ContactID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ContactID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ContactID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
